@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 32px;
  }

  @include onSmallDesktop {
    padding: 0 60px;
  }

  @include onBigDesktop {
    padding: 0;
  }
}
