$yellow-color: #F4E041;
$hover-color: #ffe203;
$blue-color: #00BDD3;
$grey-color: #F8F8F8;
$white-color: #fff;
$placeolder-color: #7E7E7E;
$black-color: rgba(0, 0, 0, 0.87);
$border-color: #D0CFCF;
$error-color: #cc3d42;
$error-text-color: #c73f41;
$disabled-color: #B4B4B4;
$white-opacity-color: rgba(255, 255, 255, 0.87);

$max-width: 1170px;
$header-height: 60px;
$input-padding-left: 16px;

